h1 {
    color: green;
    font-style: italic;
}

td {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
}

.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

body {
    font-family: "Roboto";
    margin: 0px
}

html,
body {
    height: 100%;
}

.ant-layout{
    height:100%;
}
#root{
    height:100%;
}